body{
	font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;
}

.second-section{
	margin-top: 50px;
	background-color: #34495e;
	height: auto;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.second-section p{
   color: white;
}

h1{
	color: white;
}

.three-section{
	background-color: #f2f2f2;
	padding: 50px;
}

.verde{
	color:#15BDBD;
}

.four-section{
	background-color: #34495e;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	padding:150px;
	}


#texcompu h3{
	color: white;
}

.five-section{
	background-color: #2f2f2f;
	width: 100%;
	padding: 30px;
	color:white;
}

footer{
	background-color: #000000;
	height: 10vh;
}


